<%- include('head') %> <%- include('header') %>
<form action="/order-complete" method="post">
  <main id="check-address">
    <!-- progress bar -->
    <ol class="progress-bar">
      <li class="is-complete" data-step="1">Shopping Cart</li>
      <li class="is-active" data-step="2">Checkout</li>
      <li data-step="3" class="progress__last">Order Placed</li>
    </ol>
  </main>
</form>
<%- include('footer') %>
