<form action="/cart" method="post">
  <main id="login">
    <div class="head">
      <h1>Login</h1>
    </div>

    <!-- create login form -->
    <p class="description">Welcome back! Sign in to you account.</p>

    <div class="input-container">
      <label for="user-name"
        >Username Or Email Address <span class="important">*</span></label
      >
      <input type="text" name="username" id="user-name" />
    </div>

    <div class="input-container">
      <label for="password">Password <span class="important">*</span></label>
      <input type="text" name="password" id="password" />
    </div>

    <div>
      <input type="checkbox" name="member" id="member" />
      <label for="member">Remember Me</label>
    </div>
  </main>
</form>
