<%- include('head') %> <%- include('header') %>
<main id="order-status">
  <div class="customer-info">
    <div>
      <b>ORDER PLACED</b>
      <p>May 21, 2022</p>
    </div>

    <div>
      <b>TOTAL</b>
      <p>£51.80</p>
    </div>

    <div>
      <b>SHIP TO</b>
      <p>Michael Kowalsky</p>
    </div>

    <div>
      <b>ORDER</b>
      <p>00000000296</p>
    </div>
  </div>

  <div class="status">
    <p>Order Status: <b>We are now preparing your Pizza</b></p>
    <p>Estimated Delivery Time: 30 minutes</p>
  </div>
</main>
<%- include('footer') %>
