<%- include('head') %> <%- include('header') %>
<main id="order-status">
  <div class="customer-info">
    <div>
      <b>ORDER PLACED</b>
      <p>May 21, 2022</p>
    </div>

    <div>
      <b>TOTAL</b>
      <p>£51.80</p>
    </div>

    <div>
      <b>SHIP TO</b>
      <p>Michael Kowalsky</p>
    </div>

    <div>
      <b>ORDER</b>
      <p>00000000296</p>
    </div>
  </div>

  <div class="status">
    <p>Order Status: <b>We are now preparing your Pizza</b></p>
    <p>Estimated Delivery Time: 30 minutes</p>
  </div>

  <!-- progress bar -->
  <ol class="progress-bar">
    <li class="is-complete" data-step="">
      <img class="clock-icon" src="img/ICON/clock-icon.svg" alt="clock-icon" />
      <p>Queue</p>
    </li>
    <li class="is-active" data-step="">
      <img class="pot-icon" src="img/ICON/CookingPot.svg" alt="CookingPot" />
      <p>Cook</p>
    </li>
    <li data-step="" class="progress__last">
      <img class="drive-icon" src="img/ICON/drive.svg" alt="drive" />
      <p>Delivered</p>
    </li>
  </ol>
</main>
<%- include('footer') %>
