<%- include(./templates/head') %> <%- include('./templates/header') %> <%-
include('./templates/top-path') %>
<main id="order-status">
  <div class="customer-info">
    <div>
      <b>ORDER PLACED</b>
      <p>May 21, 2022</p>
    </div>

    <div>
      <b>TOTAL</b>
      <p>£51.80</p>
    </div>

    <div>
      <b>SHIP TO</b>
      <p>Michael Kowalsky</p>
    </div>

    <div>
      <b>ORDER</b>
      <p>00000000296</p>
    </div>
  </div>

  <div class="status">
    <p>Order Status: <b>We are now preparing your Pizza</b></p>
    <p>Estimated Delivery Time: 30 minutes</p>
  </div>

  <!-- progress bar -->
  <ol class="progress-bar">
    <li class="is-complete" data-step="">
      <img class="clock-icon" src="img/ICON/clock-icon.svg" alt="clock-icon" />
      <p>Queue</p>
    </li>
    <li class="is-active" data-step="">
      <img class="pot-icon" src="img/ICON/CookingPot.svg" alt="CookingPot" />
      <p>Cook</p>
    </li>
    <li data-step="" class="progress__last">
      <img class="drive-icon" src="img/ICON/drive.svg" alt="drive" />
      <p>Delivered</p>
    </li>
  </ol>

  <div class="shipped">
    <div>
      <h5>SHIPPING INFORMATION</h5>
      <p>
        Michael Kowalsky <br />
        2910 West Main Street <br />
        New York, NY 2010 <br />
        341-412-4124
      </p>
    </div>

    <div>
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1682.5453476985383!2d98.98685348921491!3d18.789840566142846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da2fe517a5edcf%3A0xd41a7f085917011f!2z4Lie4Li04LiL4LiL4LmI4Liy4Liu4Lix4LiXIOC4quC4suC4guC4suC4oeC4k-C4teC4meC4nuC4o-C4seC4leC4meC5jA!5e0!3m2!1sth!2sth!4v1678041694314!5m2!1sth!2sth"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</main>
<%- include('footer') %>
