<form action="/checkout" method="post">
  <main id="checkout">
    <!-- progress bar -->
    <ol class="progress-bar">
      <li class="is-active" data-step="1">Shopping Cart</li>
      <li data-step="2">Checkout</li>
      <li data-step="3" class="progress__last">Order Placed</li>
    </ol>
  </main>
</form>
