<header class="nav-bar p-4">
  <div class="">
    <div
      class="nav-contain d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-lg-4 me-lg-auto mb-2 justify-content-center align-items-center mb-md-0"
      >
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 logo">
          Eat 24/7
        </a>

        <li><a href="/" class="nav-link link-light">Home</a></li>
        <li><a href="/" class="nav-link link-light">Menu</a></li>
        <li><a href="/orders" class="nav-link link-light">Order</a></li>
        <!-- <li><a href="/" class="nav-link link-light">Location</a></li> -->
      </ul>

      <!-- search bar -->
      <form class="col-lg-4 mb-3 mb-lg-0" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-light"
          placeholder="What do you want to eat today?"
          aria-label="Search"
        />
      </form>

      <div class="right-nav col-lg-4 d-flex align-items-center px-5">
        <a href="/shopping-cart" id="cart"></a>
        <div class="cart-button mx-4">
          <i class="fa-solid fa-xs fa-cart-shopping"></i>
          <div class="cart-num">
            <span id="cart-num">
              <% if(!session.cart) { %> <%= 0 %> <% } else { %> <%=
              session.cart.totalQty %> <% } %>
            </span>
          </div>
        </div>

        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="/signin" class="link-light px-4">Login / Register</a>
      </div>
    </div>
  </div>
</header>

<!-- responsive for both tablet and mobile -->
<nav class="bottom-nav nav-bar p-4">
  <ul>
    <a href="/" class="link-light">
      <li class="bottom-nav-list">
        <i class="fa-solid fa-xl fa-house"></i>
        <p>Home</p>
      </li>
    </a>

    <a href="/">
      <li class="bottom-nav-list">
        <i class="fa-solid fa-xl fa-utensils"></i>
        <p>Menu</p>
      </li>
    </a>

    <a href="/orders">
      <li class="bottom-nav-list">
        <img src="../img/ICON/Order-bike.svg" alt="Order-bike" width="32px" />
        <img
          src="../img/ICON/order-bike-white.svg"
          alt="order-bike-white"
          width="30px"
          style="display: none"
        />
        <p>Order</p>
      </li>
    </a>

    <a href="/cart">
      <li class="bottom-nav-list">
        <i class="fa-solid fa-xl fa-basket-shopping"></i>
        <p>Cart</p>
      </li>
    </a>

    <a href="/more">
      <li class="bottom-nav-list">
        <i class="fa-solid fa-user fa-xl"></i>
        <p>Account</p>
      </li>
    </a>
  </ul>
</nav>
