* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body {
  margin-top: 60px !important;
}

p {
  margin: 0 !important;
}

.faq {
  padding: 50px;
}

.faq h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}

.questions-container {
  max-width: 1000px;
  margin: 0 auto;
}
.questions-container h4 {
  font-size: 26px;
}
.question .show-detail {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #321831;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  margin-top: 15px;
  border-radius: 6px;
}

.question .show-detail i {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.question .detail {
  background-color: #fff;
  font-size: 14px;
  max-height: 0;
  opacity: 0;
  line-height: 1.6;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.question .detail.show {
  max-height: 100%;
  opacity: 1;
  padding: 25px;
  transition: all 0.3s;
  border-radius: 0px 0px 6px 6px;
}
.question .show-detail i.rotate {
  transform: none;
}
.questions-container h4 {
  margin-bottom: 20px;
}
.order-head-detail {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  height: 53px;
}
.order-head-detail .order-number {
  font-weight: 700;
}
.order-head-detail .order-date {
  font-size: 11px;
  color: #9fa19a;
  font-weight: 400;
}
